{% extends 'base.html' %}
{% block content %}
  <h1 class="page-header">Распределение телефонных номеров</h1>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
          <th>Внутренний номер</th>
          <th>Имя клиента</th>
          <th>Статус</th>
          <th>Адрес</th>
          <th>Описание клиента</th>
          <th>Дата</th>
          <th>Тип номера</th>
          <th>Пароль внутреннего номера</th>
          <th>Устройство</th>
          <th>Логин</th>
          <th>Пароль</th>
          <th>IP Адрес</th>
          <th>Внешний номер</th>
          <th>Тип номера</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
          {% for number in customer.number_set.all %}
            <tr>
                <td>{{ number.id }}</td>
                <td>{{ number.internal_number }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.get_status_display }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.description }}</td>
                <td>{{ customer.date_last_change }}</td>
                <td>{{ number.internal_type }}</td>
                <td>{{ number.internal_password }}</td>
                <td>{{ number.device.name }}</td>
                <td>{{ number.device.login }}</td>
                <td>{{ number.device.password }}</td>
                <td>{{ number.device.wan }}</td>
                <td>{{ number.AON }}</td>
                <td>{{ number.get_type_of_access_display }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center bg-warning">No Customers</td>
            </tr>
          {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}