<form method="post" action="{% url 'customer_create' %}" class="js-create-customer">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Создать нового клиента</h4>
  </div>
  <div class="modal-body">
    {% include 'includes/form_customer.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Create customer</button>
  </div>
</form>